<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringRestService:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringRestService_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringRestService/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringRestService" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring MVC-4.3.7.RELEASE" />
          <element id="library" level="project" name="Spring-4.3.7.RELEASE" />
          <element id="file-copy" path="$PROJECT_DIR$/../../JAR/jackson/jackson-annotations-2.8.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../JAR/jackson/jackson-core-2.8.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../JAR/jackson/jackson-databind-2.8.8.jar" />
        </element>
      </element>
    </root>
  </artifact>
</component>